@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Source+Serif+Pro:400,600');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Serif Pro', serif;
  overflow: auto;
  color: #333333;
  transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4 {
  font-family: 'Bree Serif', serif;
}
h1 {
  font-size: 42px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 26px;
}
p {
  font-size: 18px;
}
.landImage {
  width: 100%;
  height: 100%;
}
.landImage > img {
  height: auto;
  width: 100%;
}
a {
  cursor: pointer;
  color: #333333;
  text-decoration: none;
  text-transform: none;
}
button {
  background-color: transparent;
  border: 2px solid #f2f2f2;
  color: #f2f2f2;
  padding: 1em 2em;
  border-radius: 2em;
  cursor: pointer;
  font-size: 0.8em;
}
.btn-primary {
  background-color: #b4a647;
  border-width: 0px;
}

.nav {
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 2%;
}
.nav > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav > div > a > img {
  height: 80px;
  width: auto;
}
.nav > div > a {
  font-size: 1.2em;
}

.approach-wrapper {
  padding: 2em 15%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  background-color: #f1f0ee;
}
.card {
  position: relative;
  margin: 2em;
}
.card-bg {
  width: 75%;
  height: 360px;
}
.card:nth-child(1n) > .card-bg {
  background-color: #b4a647;
}
.card:nth-child(2n) > .card-bg {
  background-color: #827717;
}
.card-bg-right {
  margin-left: 14%;
}

.card-content {
  position: absolute;
  padding: 1em;
  background-color: #ffffff;
  width: 400px;
  height: auto;
}
.push-right {
  top: -2.5em;
  right: -2.5em;
}
.push-left {
  top: -2.5em;
  left: -2.5em;
}
.section {
  background-color: #0277bd;
  color: #f2f2f2;
  padding: 5% 15%;
}
.section > .content {
  width: 50%;
}
.section-right {
  padding-left: 30%;
}

.home {
  padding: 15% 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}
.home > div {
  justify-content: center;
  align-items: center;
}
.home > div:nth-child(1) {
  padding: 1em;
  display: flex;
}
.img-circle {
  padding: 4em 5.5em;
  border-radius: 100%;
  background-color: #827717;
  text-align: center;
}
.img-circle > img {
  height: 250px;
  width: auto;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5%;
}
.grid-wrapper > div > div:nth-child(2) {
  padding: 0.5em 1em;
  background-color: #827717;
}
.grid-wrapper > div >  div:nth-child(3){
  padding: 0.5em;
  text-align: center;
}
.grid-wrapper > div {
  justify-content: center;
  align-items: center;
}
.grid-wrapper > div > div:nth-child(1) {
  display: table;
  margin: 0 auto;
}
.ourWorkSection {
  background-color: #ffffff;
}

.footer-wrapper {
  padding: 2% 10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 1fr;
  grid-auto-flow: dense;
  grid-gap: 15%;
}

.footer-wrapper > div{
  justify-content: center;
}

.footer-wrapper img {
  max-height: 140px;
  width: auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

#navbar {
  z-index: 99;
  background-color: #ffffff;
}

#go_up {
  position: fixed;
  bottom: 5%;
  right: 2%;
  display: none;
}
#go_up > a {
  font-size: 1.5em;
  padding: 0.5em 1em;
  border: 2px solid #333;
  border-radius: 10%;
}
.pictureCard > div > img {
  width: 100%;
  height: auto;
}
.pictureCard > div > button {
  font-size: 1em;
}
.pictureCard > div > h3 {
  margin: 0;
}
@media only screen and (max-width: 500px) {
  .approach-wrapper {
    padding: 2em 2%;
    grid-gap: 2em;
  }
  .pictureCard > div > button {
    font-size: 1.2em;
    padding: 0.5em 1em;
  }
  .card-content > p {
    font-size: 0.8em;
  }
  .card-bg {
    width: 100%;
  }
  .card-bg-right {
    margin: 0;
  }
  .card-content {
    width: 80%;
  }
  .img-circle {
    padding: 1em 2em;
  }
  .nav > div > a > img {
    height: 60px;
    width: auto;
  }
  .img-circle > img {
    height: 150px;
    width: auto;
  }
  .home {
    padding: 2%;
  }
  .card {
    margin: 2%;
  }
  .push-right {
    top: -0.5em;
    right: 0;
  }
  .push-left {
    top: -0.5em;
    left: 0;
  }
  .section {
    padding: 5%;
  }
  .section > .content {
    width: 100%;
  }
  .section-right {
    margin-left: 0%;
  }
  .nav > div > a {
    font-size: 0.7em;
  }

}
